@import 'src/scss/base/all';

.menu__group {
  padding-top: 1rem;

  .menu__group__title {
    font-weight: 600;
    padding: 1rem 1rem .5rem 1rem;
  }
}
.menu__item__link, .menu__item__link:active, .menu__item__link:visited {
  align-items: center;
  border: none;
  color: $white-regular;
  display: flex;
  padding: .5rem 1rem;

  &:hover {
    background-color: rgba(0,0,0,.1);
    border: none;
  }

  &.stretched {
    justify-content: space-between;
  }
}

.menu--vertical {
  .menu__item {
    display: block;
    position: relative;
  }
}
