@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  background: none;
  height: 48px;
  position: relative;
  width: 48px;

  .spinner-inner {
    animation: spinning 1s linear infinite;
    border-radius: 50%;
    box-shadow: 0 4px 0 0 #3498DB;
    display: block;
    height: 98%;
    left: 1%;
    position: absolute;
    top: 1%;
    width: 98%;
  }
}
.spinner--centered {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.spinner--small {
  height: 16px;
  width: 16px;

  .spinner-inner {
    box-shadow: 0 2px 0 0 #3498DB;
  }
}
.spinner--medium {
  height: 32px;
  width: 32px;

  .spinner-inner {
    box-shadow: 0 4px 0 0 #3498DB;
  }
}
.spinner--large {
  height: 96px;
  width: 96px;
}
.spinner--xlarge {
  height: 160px;
  width: 160px;
}
