/**
 * Truncate the current element with a ellipsis when it does not fit
 */
@mixin wrap-ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/**
 * Animate the current element
 */
@mixin animation($name, $duration: $animation-duration, $easing: $animation-easing, $delay: 0s){
   animation: $name $duration $easing $delay;
}

/**
 * Add a transition to a single property of the current element
 */
@mixin transition($target, $duration: $animation-duration, $easing: $animation-easing, $delay: 0s){
   transition: $target $duration $easing $delay;
}
