<aside class="app__sidebar">
  <nav class=" menu menu--vertical">
    <router-outlet name="offcanvas"></router-outlet>
  </nav>
</aside>

<section class="app__wrapper">
  <header class="app__header">
    <h1>
      {{title}}
    </h1>
  </header>

  <main class="app__main">
    <app-offcanvas [closed]="true">

      <nav class="menu menu--vertical">

        <ul class="menu__group">
          <li class="menu__group__title"> Database</li>
          <li class="menu__item"> <a routerLink="/database/countries" class="menu__item__link">countries</a> </li>
        </ul>

      </nav>

    </app-offcanvas>

    <section>
      <router-outlet></router-outlet>
    </section>

  </main>
</section>
<ngrx-store-log-monitor toggleCommand="ctrl-h" positionCommand="ctrl-m"></ngrx-store-log-monitor>
