<header class="app__header">
  <h1>
    {{title}}
  </h1>
</header>

<main class="app__main">
  <app-offcanvas [closed]="true">

    <nav class="menu menu--vertical">

      <ul class="menu__group">
        <li class="menu__group__title"> Database</li>
        <li class="menu__item"> <a routerLink="/database" class="menu__item__link">countries</a> </li>
      </ul>

      <router-outlet name="nav"></router-outlet>

    </nav>

  </app-offcanvas>

  <section>
    <router-outlet></router-outlet>
  </section>

</main>

<footer class="app__footer">
  <i>footer</i>
</footer>

<ngrx-store-log-monitor toggleCommand="ctrl-h" positionCommand="ctrl-m"></ngrx-store-log-monitor>
