/* fonts */
$base-font-size: 16px !default;
$default-font-stack: "Open Sans", Helvetica, Arial, sans-serif !default;
$font-color: $black-regular  !default;
$font-color-light: $white-dark  !default;

/* animations */
$animation-duration: .2s !default;
$animation-easing: ease-in !default;

$hover-darken: 10% !default;

$table-row-hover: lighten($grey-light, 15%);
$table-pagination-background: $grey-light;
$table-pagination-color: $font-color-light;

$overlay-color: rgba(255,0,0,.7);
